<form>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Crear islas</h5>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre de la islas</label>

                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="island.name"
                        aria-describedby="Number" placeholder="Digita el nombre de islas">
                </div>
                <button type="submit" class="btn btn-primary" (click)="createIsland()">Agregar</button>
            </div>
        </div>
    </div>


</form>