<div class="container">
    <div class="row">
        <div class="col-6">
            <app-create></app-create>
        </div>

        <div class="col-6">
            <app-list></app-list>

        </div>
        <div class="col-12">
            <app-go-islands></app-go-islands>
        </div>
    </div>

</div>