<div class="card text-center">
    <div class="modal-header text-center">
        <h4 class="modal-title" id="modal-basic-title">Solución</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h5>Camino</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of trip">{{item.name}}</li>
                </ul>


            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="solution()">Solucionar</button>
    </div>
</div>