<h2>Islas</h2>

<table class="table table-hover">
    <caption>List Items</caption>

    <thead>
        <tr>
            <th scope="col">Numero</th>
            <th scope="col">Nombre</th>
            <th scope="col">Agregar Relacion</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let island of islandService.islands">
            <td>{{island.id}}</td>
            <td>{{island.name }}</td>
            <td><button class="btn btn-primary" (click)="openModal(island)">Agregar relación</button></td>
            <td><button class="btn btn-danger" (click)="pop(island)">-</button></td>
        </tr>

    </tbody>
</table>