<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Relaciones</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <h5>Islas</h5>

            <table class="table table-hover">
                <caption>List Islas</caption>

                <thead>
                    <tr>
                        <th scope="col">Numero</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Agregar Relacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let island of getListIslands()">
                        <td>{{island.id}}</td>
                        <td>{{island.name }}</td>

                        <td><button class="btn btn-primary" (click)="addRelation(island)">+</button></td>
                    </tr>

                </tbody>
            </table>

        </div>
        <hr>
        <hr>
        <div class="col-12">

            <h5>Relaciones</h5>
            <table class="table table-hover">
                <caption>List Relaciones</caption>

                <thead>
                    <tr>
                        <th scope="col">Numero</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Nombre</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let relation of getListRelation()">
                        <td>{{relation.origin.name}}</td>
                        <td>{{relation.destination.name}}</td>
                        <td><button class="btn btn-danger" (click)="pop(relation)">-</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="passBack()">Guardar</button>
</div>